.article {
  background-color: white;
  border: #00bfff 0.5px solid;
  width: 90%;
  margin-left: 3%;
  margin-top: 3%;
  min-height: 16em;
  border-radius: 6px;
  position: relative;
  padding: 10px 20px;
  color: darkslategray;

  .article-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.header-title h1{
  text-align: center;
}

.article-detail {
  background-color: white;
  border: #00bfff 0px solid;
  width: 75%;
  margin-left: 20%;
  margin-top: 3%;
  position: relative;
  color: darkslategray;

  .article-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
  }
}

.article_title strong {
  color: #898b8b;
}

.loader {
  padding-left: 50%;
  padding-top: 20%;
}

.my-4 {
  background-color: #00bfff;
}

.article_title {
  font-size: 15px;
  margin-right: 8%;
  display: inline;
}

.date {
  display: inline;
  font-size: 15px;
  color: #898b8b;
}

.likes {
  display: inline;
  font-size: 13px;
  color: #020c0c;
}

.dislikes {
  display: inline;
  font-size: 13px;
  color: #010505;
}

.ratings {
  display: inline;
  font-size: 13px;
  color: #898b8b;
}

.body {
  margin: 0 auto;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
  padding: 30px;
  text-align: justify;
}

.readtime {
  font-size: 15px;
  padding-left: 3em;
  color: #898b8b;
  display: inline;
}

.readmore {
  font-size: 16px;
  color: #000202;
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}

a.more {
  text-decoration: none;
  color: #00bfff;
}

a.more:hover {
  color: #7df9ff;
}

.img {
  height: 30rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: inherit;
  }
  .article {
    width: 100%;
    margin-top: 9px;
    margin-left: 0%;
  }
}
