.card-width {
  width: 87%;
  margin-left: 10%;
  background-color: none;
  color: black;
  margin-bottom: 13px;
}

.profile-pic {
  border-radius: 50%;
}

.username {
  margin-left: 8px;
  color: gray;
}

.timestamp {
  color: grey;
  margin-left: 8px;
  font-size: small;
}
