div.jumbotron.text-center.confirm-email {
    margin-bottom: 30px;
    width: 50%;
    margin-left: 250px;
    background: none;
    box-shadow: inset 0px 1px 6px 1px lightgrey;
    margin-top: 30px;
}

div.jumbotron.text-center.confirm-email .form-logo {
    margin-left: 120px;
}

div.jumbotron.text-center.confirm-email .form-logo h2{
    margin-left: 120px;
}

div.jumbotron.text-center.confirm-email #confirm-email {
    margin-left: 60px;
}

div.jumbotron.text-center.confirm-email input.input-field {
    width: 150%;
    height: 40px;
    margin-left: 60px;
}


input#submit.btn-signin.btn-verify {
    margin-left: 60px;
    width: 100%;
    height: 40px;
}

input#submit.btn-signin.btn-reset {
    margin-left: 60px;
    width: 150%;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    div.jumbotron.text-center.confirm-email {
        width: 100%;
        margin-left: 0px;
    }
    input.form-control #email {
        margin-left: 0px;
    }
    
    input#submit.btn-signin {
        margin-left: 0px;
    }

    div.jumbotron.text-center.confirm-email .form-logo h2 {
        margin-left: 0px;
    }

    div.jumbotron.text-center.confirm-email #confirm-email {
        margin-left: 0px;
    }

    div.jumbotron.text-center.confirm-email input.input-field {
        width: 100%;
        height: 40px;
        margin-left: 0px;
    }

    input#submit.btn-signin.btn-verify {
        margin-left: 0px;
        width: 100%;
    }
    
    input#submit.btn-signin.btn-reset {
        margin-left: 0px;
        width: 100%;

    }
    
}
