.signuppage{
    border: 0px solid black;
    padding: 3%;
}

.form-header{
    text-align: center;
    color: gray;
    margin-right: 45px;
}

.text{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #00bfff;
    margin-top: 70px;
    font-size: 2.5em;
}

.image{   
    width: 100%;
    height: 70%;
}

.container Input#uname{
    width: 75%;
    height: 40px;
    margin-left: 60px;
}

.container Input#email{
    width: 75%;
    height: 40px;
    margin-left: 60px;
}
.container Input#pass{
    width: 75%;
    height: 40px;
    margin-left: 60px;
}

#signup{
    background-color: #00bfff;
    color: white;
    width: 200px;
    margin-left: 75px;
}

#social{
    background-color: #00bfff;
    color: white;
    width: 210px;
    
}

.signedup p{
    color: green;
    clear: both;
}

.social-buttons{
    clear: both;
    margin-left: 2px;
}

.words{
    clear: both;
    margin-left: 145px;
    color: grey;
}

.line{ 
    width: 76%;
}
