.sidebar {
  position: sticky !important;
  background-color: white !important;
  color: #00bfff !important;
  margin-top: 15% !important;
  width: 15em !important;
  height: 19em !important;
  border-radius: 6px !important;
  border: 1px solid #7df9ff !important;
  z-index: -2 !important;
}

.title {
  font-size: 18px;
  margin-left: 40%;
  text-decoration: underline;
}

.tag {
  margin-top: 2%;
  margin-left: 8%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tags_heading {
  text-decoration: underline;
  font-size: 18px;
  margin-left: 6.5em;
}

.badge {
  background-color: #00bfff !important;
  border: #7df9ff 1px solid !important;
  margin-left: 3% !important;
}

.detail-tag {
  background-color: white;
  color: #00bfff;
  text-align: center;
}

.tags-detail-heading{
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
